button {
  cursor: pointer;
  color: #fff;
  background-color: #1976D2;
  padding: 10px 12px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 1.04rem;
  width: 120px;
}
